/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';

.navbar {
  background: rgb(80, 105, 130);
  text-align: left;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1), background .2s cubic-bezier(0.4, 0.0, 0.2, 1);
  
  &:hover {
    opacity: 1;
    background: #34495e;
  }

  .navbar-brand {
    img {
      background: white;
      border: 1px #eee solid;
      max-height: 40px;
      width: auto;
    }
  }

  a:not(.navbar-brand) {
    color: #fff;
    margin-right: 10px;
    display: inline-block;
    text-decoration: none;
    padding: 2px 10px;
    transition: all 0.2s ease-in-out;

    &:hover,
    &.active {
      background: #fff;
      color: #34495e;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

.card.card-headline-overlayed {
  position: relative;
  border: 0;
}

footer {
  line-height: 50px;
  font-size: small;
}

.jumbotron.jumbotron-fluid {
  padding: 2rem 2rem;
  margin-top: 53px;
}

.facets-component {

  h5 {
    font-size: 1rem;
    padding: 10px;
    color: #34495e;
    margin: 0;
    font-weight: bold;
  }

  .facet {
    margin-bottom: 15px;
  }

  .list-group-item {
    border: 1px transparent solid;
    border-width: 1px !important;
    padding: 5px 10px;
    border-radius: 0;
    cursor: pointer;
    font-size: 0.8rem;
    color: Black;
    margin: 0;
    margin-top: 0;
    margin-bottom: 1px;
    transition: .2s;
    
    &:hover {
      border-color: #ccc;
      outline: 1px #ccc;
    }

    &.active {
      background: #ecf0f1;
      border-color: #ccc;
      border-radius: 3px;

      .badge {
        background: #fff;
        color: Black;
      }

    }
  }
}


kampagnen-listing,
about {
  display: block;
}

.list-inline-remove-links {
  a {
    span {
      color: rgba(255, 0, 0, 0.64);
      position: relative;
      top: -5px;
      /* background: blue; */
      border-radius: 50%;
      width: 15px;
      display: inline-block;
      text-align: center;
      font-size: 1rem;
      border: 1px #ccc solid;
      height: 15px;
      line-height: 0.9;
      transition: 0.2s;
    }

    &:hover {
      text-decoration: line-through;

      span {
        color: white;
        background: rgba(255, 0, 0, 0.64);
      }

    }
  }
}

.container-fluid {
  max-width: 1200px;
  width: 100%;
}

.kampagnen-teaser {
  padding: 5px;
  transition:
      box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1),
      background .2s cubic-bezier(0.4, 0.0, 0.2, 1),
      padding 200ms ease-in;
 
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0), 0 0 0 1px rgba(0,0,0,0.0);
  background: transparent;
  cursor: pointer;

  img {
    transition:
      margin 200ms ease-in,
      max-width 200ms ease-in;
    transition-delay: 200ms;

  }

  &:hover,
  &:active {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    background: rgba(255, 255, 255, 0.5);

    img {
      margin: -5px;
      max-width: calc(100% + 10px);
    }
  }
}

.kampagnen-store {
  position: absolute;
  right: 0;
  bottom: -8px;
  border-radius: 0;
  border: 1px #eee solid;
  border-bottom: 0;
  background: white;
  color: black !important;
  font-weight: normal;
  padding: 5px !important;
  font-size: large;


  img {
    width: 20x;
    margin-right: 10px;
  }
}

.pager {
  ngb-pagination {
    display: inline-block;
  }
}
